- title 'Reprint Chart'

:coffeescript
  $(document).on 'click', 'a[href$="/chart"]', (e) ->
    e.preventDefault()
    button = $(e.target)
    mom.utilities.printChart(button.data('chart-number')).done (data) ->
      button.text("Printing ...").attr('disabled', 'disabled')

= render "nav"

= header do
  %h1 Reprint Chart

- @patients_table.controls(&reprint_controls_lambda)

= render "patients/patients"
